<div class="container" style="margin-top: 40px">
    <div ng-If="movie.Response=='False'"  class="alert alert-primary"> 
        <h1 class="text-center">Movie Not Found</h1>
    </div>
    <div class="row"  ng-If="movie.Response!='False'">
        <div class="col-lg-4 col-md-12 text-center" >
            <img src={{movie.Poster}} alt="">
        </div>
        <div class="col-lg-8 col-md-12">
            <h1 class="text-center">{{movie.Title}}</h1>
            <h4 >Actors : </h4>
            <p >{{movie.Actors}}</p>
            <div class="row">
                <div class="col-6">
                    <h4>Director : </h4> 
                    <p>{{movie.Director}}</p>
                </div>
                <div class="col-6">
                    <h4>Released</h4>
                    <p>{{movie.Released}}</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-6">
                        <h4>Collection : </h4> 
                        <p>{{movie.BoxOffice}}</p>
                    </div>
                    <div class="col-6">
                        <h4>Awards</h4>
                        <p>{{movie.Awards}}</p>
                    </div>
                </div>
            <h4>Genre</h4>
            <p>{{movie.Genre}}</p>
            <div class="row">
                <div class="col-12">
                        <h4>Story : </h4>
                        <p>{{movie.Plot}}</p>
                </div>
            </div>
            <div class="row">
                <li ng-repeat='rate in movie.Ratings' class="col-12">
                  <h5>{{rate.Source}} - </h5>
                  <p>{{rate.Value}}</p>
                </li>
            </div>
        </div>
    </div>
</div>
