<div class="container">
    <div class="form-group">
        <label>Enter the name of Movie</label>
        <input type="text" class="form-control" placeholder="Movie name" ng-model="movieName" ng-keyup='getMovies()'>
    </div>
    <div class="row">
        <div ng-repeat='movie in movies' class="col-md-4 col-sm-2">
         
        <div class="card" style="margin-top: 10px;">
            <img src={{movie.Poster}} class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{movie.Title}}</h5>
                <p class="card-text">{{movie.Year}}</p>
                <a ui-sref='detail({id:movie.imdbID})' class="btn btn-primary">Detail</a>
            </div>
        </div>
        </div>
    </div>
    <div  class="alert alert-primary" ng-If='!found'>
        <h1 class="text-center">Please Enter a Valid name</h1>
    </div>
</div>